@import '~antd/es/style/themes/default.less';

@bodyBackgroundColor: #f0f2f5;

@boxBottomShadow: 0 2px 8px rgba(0, 0, 0, 0.08);
@boxRightShadow: 2px 0 8px rgba(0, 0, 0, 0.08);
@menuBackgroundColor: @white;
@hoverTextColor: @black;

@headerHeight: 40px;
@siderWidth: 224px;
