@import '~configs/variables.less';

.sider {
  position: fixed;
  width: @siderWidth;
  height: 100vh;
  background-color: @menuBackgroundColor;
  box-shadow: @boxRightShadow;
}
.main {
  height: 100vh;
  margin-left: @siderWidth;
}
.header {
  position: fixed;
  height: @headerHeight;
  width: calc(100% - @siderWidth);
  box-shadow: @boxBottomShadow;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content {
  padding-top: @headerHeight;
}
